<input type="text" [(ngModel)]="studentName" placeholder="Name"><br>
<input type="text" [(ngModel)]="studentAge" placeholder="Age"><br>
<input type="text" [(ngModel)]="studentAddress" placeholder="Address"><br>
<button type="button" (click)="createRecord()">Guardar</button><br>
<div *ngFor="let item of students">
    <h3>
        {{item.Data.Name}}
    </h3>
    Id: {{item.id}} <br>
    Edad:{{item.Data.Age}} <br>
    Direccion: {{item.Data.Adress}}
    <button type="button" (click)="removeRecord(item.id)">Eliminar</button>
</div>